@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cursor-blink {
    display: inline-block;
    width: 2px;
    height: 1em;
    vertical-align: text-bottom;
    background: #ececec;
    margin-left: 2px;
    animation: blink 0.7s steps(1) infinite;
  }
  @keyframes blink {
    50% { opacity: 0; }
  }
}
